<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-square-pos-ios" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IOSSquarePOS</name>
    <js-module name="IOSSquarePOS" src="www/IOSSquarePOS.js">
        <clobbers target="cordova.plugins.IOSSquarePOS" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IOSSquarePOS">
                <param name="ios-package" value="SquarePointOfSale"/>
            </feature>
        </config-file>
        <header-file src="src/ios/SquarePointOfSale.h" />
        <source-file src="src/ios/SquarePointOfSale.m" />
        <framework src="/Users/simprodev/repos/SquarePointOfSaleSDK-iOS/" custom="true" />
    </platform>
</plugin>
